* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main--color: #27a376;
  --second-color: rgba(160, 174, 192, 0.4);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
.background-main {
  background-color: #27a376 !important;
  color: white !important;
}
.background-second {
  background-color: rgba(247, 247, 247, 1);
}
.background-active {
  background-color: #27a376;
  color: white;
}
.color-main-text {
  color: #27a376;
}
.second-color-text {
  color: rgba(160, 174, 192, 1);
}
.font-size {
  font-size: 14px;
  font-weight: bold;
}
.font-12px {
  font-size: 12px;
  font-weight: 700;
}
.title {
  font-size: 20px;
  font-weight: 600;
}
.opacity {
  opacity: 1;
}
.opacity:hover {
  opacity: 0.6;
}
.is-valide {
  border: 1px solid red !important;
}
.is-valide:focus {
  outline: 1px solid red !important;
}
/* start Home */
.footer {
  display: flex;
  justify-content: center;
}
.img-phone {
  width: 80px;
  display: none;
}
.input {
  border: none;
  border: 1px solid var(--second-color);
  padding: 8px;
  width: 100%;
  border-radius: 8px;
}
.input::placeholder {
  color: var(--second-color);
  font-weight: 600;
  font-size: 12px;
}
.input:focus {
  outline: 1px solid var(--main--color);
}
.label {
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.icon-eye {
  position: absolute;
  right: 10px;
  top: 47px;
  transform: translateY(-50%);
  cursor: pointer;
}
/* end Home */
/* start Password forget and Update */
.fix-position {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}
/* end Password forget and Update */
/* start responsev */
@media (max-width: 576px) {
  /* start home */
  .display-logo {
    display: none;
  }
  .img-phone {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
  }
  .title-login h4 {
    font-size: 20px;
  }
  .footer {
    display: block;
    position: relative;
    bottom: -20%;
  }
  /* end home */
  /* start Password forget and Update */
  .fix-position {
    width: 90%;
  }
  .fix-position .col-9 {
    width: 100%;
  }
  /* end Password forget and Update */
}
@media (max-width: 768px) {
  /* start home */
  .footer {
    display: block;
    position: relative;
  }
  /* end Home */
}
/* end responsev */
/* start steps */
.height-img {
  height: 60px;
  border-bottom: 1px solid var(--second-color);
  width: 50%;
}
.img-logo {
  width: 80px;
  margin-left: 10px;
  margin-top: 10px;
}
.height-100vh {
  height: calc(100vh - 60px);
}
.mini-box {
  background-color: white;
  border-radius: 8px;
}
.phone-block {
  display: none;
}
.word-space {
  word-spacing: -2px;
}
@media (max-width: 768px) {
  .height-img {
    width: 100%;
  }
  .desctop-show {
    display: none;
  }
  .phone-block {
    display: block;
  }
}
/* end steps */
